.btn {
  display: inline-flex;
  padding: 20px;

  color: $color-default-white;

  background-color: $color-blue;
  border: none;
  cursor: pointer;

  transition: opacity $trans-default;

  &--red {
    background-color: $color-torch-red;
  }

  &:disabled {
    background: #999;
    pointer-events: none;
  }

  @include hover-focus {
    border: 1px solid $color-active;
    background: #FFF;
    color: $color-active;
  }

  &:active {
    background-color: $color-active;
  }
}
