.form {
  background-image: url("../../img/form-desk.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 760px;
  display: flex;
  justify-content: center;
  align-items: center;

  @include vp-1199 {
    height: 680px;
    background-image: url("../../img/form-tablet.jpg");
  }

  @include vp-767 {
    height: 620px;
  }
}

.container--form {
  padding: 0;
  width: 66.66%;

  @include vp-1199 {
    width: 300px;
  }

  @include vp-767 {
    max-width: 400px;
    width: 82.85%;
  }
}

.form__wrapper {
  max-width: 960px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.form__wrapper-title {
  span {
    display: flex;
    justify-content: center;
    font-size: 35px;
    font-weight: 800;
    line-height: 35px;
    color: $color-default-white;
    margin: 0;
    margin-bottom: 16px;
    padding-top: 4px;

    @include vp-1199 {
      font-size: 25px;
      line-height: 25px;
      margin-bottom: 28px;
      padding-right: 5px;
    }

    @include vp-767 {
      font-size: 22px;
      line-height: 22px;
      margin-bottom: 19px;
      padding-top: 1px;
      padding-right: 0;
    }
  }

  p {
    font-size: 16px;
    color: $color-default-white;
    line-height: 24px;
    margin: 0;
    margin-bottom: 40px;

    @include vp-1199 {
      margin-bottom: 25px;
    }

    @include vp-767 {
      font-size: 12px;
      line-height: 18px;
      margin-bottom: 20px;
    }
  }
}

.form__form {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include vp-1199 {
    flex-direction: column;
  }
}

.form__list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
  justify-content: space-between;

  @include vp-1199 {
    flex-direction: column;
  }
}

.form__fieldset {
  border: none;
  margin: 0;
  padding: 0;
  width: 78.12%;

  @include vp-1199 {
    width: 270.8px;
  }

  @include vp-767 {
    width: 100%;
  }
}

.form__item {
  width: 48%;
  text-align: left;

  @include vp-1199 {
    width: auto;
    margin-bottom: 11px;
  }

  @include vp-767 {
    margin-bottom: 8px;
  }

  input {
    border: none;
    width: 100%;
    padding: 18.5px 30px;
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    color: $color-default-black;

    @include vp-1199 {
      padding: 14.5px;
      padding: 14.27px;
      border: 1px solid rgba(2, 102, 193, 0.10);
    }

    @include vp-767 {
      border: none;
      padding-top: 15.5px;
      padding-bottom: 15.5px;
    }

    &::placeholder {
      font-size: 16px;
      font-weight: 400;
      line-height: 16px;
      color: $color-default-black;
      opacity: 0.5;
    }

    @include hover {
      outline: 1px solid $color-blue;
      color: $color-blue;

      &::placeholder {
        color: $color-blue;
      }
    }

    &:active,
    &:focus {
      outline: 1px solid $color-blue;
      color: $color-active;
    }

    &[disabled] {
      outline: 1px solid rgba(2, 102, 193, 0.10);
      pointer-events: none;
      background-color: $color-default-white;
      opacity: 1;

      &::placeholder {
        color: rgba(2, 102, 193, 0.5);
        background-color: $color-default-white;
        opacity: 1;
      }
    }
  }
}

.form__button {
  width: 18.75%;
  justify-content: center;
  padding: 19px 20px;
  border-radius: 6px;

  @include hover {
    padding: 18px;
  }

  @include vp-1199 {
    width: 270.8px;
    padding: 20px;
    border-radius: 0;
    font-size: 16px;
    font-weight: 500;
    line-height: 16px;
  }

  @include vp-767 {
    width: 100%;
    padding: 21px 35px;
    padding-top: 22px;
    padding-bottom: 20px;
  }
}
